h1, p, h2 {
    font-family: lato;
    text-shadow: 0px 2px 8px #000000;
}

.bg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    color: white;
     
}

.btn {
    font-family: lato;
    
}

